ul.site-secondary,
ul.site-information {
  float: right;
  clear: both;
}
ul.site-secondary li,
ul.site-information li {
  list-style-type: none;
  display: inline;
}
ul.site-secondary li a,
ul.site-information li a {
  font-weight: bold;
  padding: 0 10px;
}
.content-inner ul.site-information {
  margin-bottom: 0.5em;
}
.content-inner ul.site-secondary {
  margin-bottom: 15px;
}

/* Hide the tabs for now */
.node-type-site #content-tabs {
  display: none;
}

.page-site-profile .block {
  margin-bottom: 5px;
}
.page-site-profile #block-system-main,
.page-site-profile #block-acquia_support_dashboard-site_information_links {
  margin-bottom: 0px;
}
.page-site-profile #main-group #block-acquia_support_dashboard-site_information_links {
  float: right;
  padding-right: 20px;
  width: 60%;
}
.page-site-profile h1.title {
}
.page-site-profile #main-group #block-views-site_status-block {
  float: left;
}
#block-acquia_support_dashboard-dashboard_stats_overview .item-list {
  float: left;
  width: 40%;
  padding: 10px;
}
#block-acquia_support_dashboard-dashboard_stats_overview .item-list ul li {
  list-style-type: none;
}
.overview-label,
.overview-content {
  float: left;
}
.overview-label {
  clear: both;
  padding-right: 20px;
  width: 120px;
}
td {
  vertical-align: top;
}
td.views-field-entity-id {
  width: 320px;
}
.view-credentials table {
  margin-top: 10px;
  margin-bottom: 20px;
}
.view-credentials td {
  padding: 10px;
}
.view-credentials td.views-field {
  width: 80px;
}
.view-credentials td.views-field-title {
  width: 250px;
}
