#main-wrapper {
  min-height: 800px;
}
#main-group .block {
  width: 100%;
  margin-bottom: 0.5em;
}

#block-views-alerts-block {
  border: 1px solid green;
  background: #fff;
  padding: 10px;
}
#block-views-alerts-block ul {
  margin-bottom: 0;
}
#block-views-alerts-block ul li {
}
#block-views-alerts-block a {
  color: #000;
}
h2 {
  color: #317EBE;
}
h3 {
  color: #73AED8;
  font-size: 15px;
}
.block h2.title {
  line-height: 30px;
}
#block-search-form form {
  padding: 5px 0;
}
