
/* General HTML Reset
----------------------------------------------------------------------------- */

/* Don't specify a font--typekit will take care of that for us */
body {
  margin: 0;
  color: #606060;
  font-size: 13px;
  background: #000;
}

h1, h2, h3, h4, h5, h6 {
  color: #666666;
}

h1 {
  font-size: 30px;
  line-height: 30px;
}

h1.title {
  color: #73AED8;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 20px;
}

h2 {
  font-size: 26px;
  color: #73AED8;
}

.block h2.title {
  font-size: 17px;
  font-weight: 600;
  line-height: 43px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

h5, h6 {
  font-size: 13px;
  color: #333333;
}

strong {
  font-weight: 600 !important;
}

p {
  line-height: 1.5em;
  margin-top: 0px;
  white-space: normal;
}

a {
  cursor: pointer;
  color: #317EBE;
  text-decoration: none;
}

a:hover {
  color: #D26C00;
  text-decoration: none;
}



/* Overall Page
----------------------------------------------------------------------------- */

#page {
  background: #FFF;
}

#page-inner {

}

/* Deal with inners within inners within inners within the content-region*/

.content-region .block .inner .inner {
  margin-left: 0px;
  margin-right: 0px;
}

/* Sidebars
----------------------------------------------------------------------------- */

.region-sidebar-first {
  padding-top: 20px;
}

.region-sidebar-first .block .inner .content {
  padding: 0 10px;
}

.region-sidebar-second {
  padding-top: 20px;
}

.region-sidebar-second .block .inner .content {
  padding: 0 10px;
}

/* Blocks Overall and Specific
----------------------------------------------------------------------------- */
.block {

}

.block-style .inner {
  padding: 0 10px;
}

.region-sidebar-second .block .inner, .region-sidebar-first .block .inner, .block-style {
  border: 1px solid #ccc;
  background: #FFF url(../images/box-title-bg.jpg) repeat-x top;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

.region-sidebar-second .block .inner h2, .region-sidebar-first .block .inner h2, .block-style h2 {
  padding: 0 10px;
  font-size: 1em; 
  color: #333;
  font-weight: 600;
  background: #EAEAEA; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF', endColorstr='#EAEAEA'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EAEAEA)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #FFF,  #EAEAEA); /* for firefox 3.6+ */
  -moz-border-radius: 7px 7px 0 0;
  -webkit-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
}

.region-sidebar-second .block ul, .region-sidebar-first .block ul, .block-style ul, .list-style ul {
  margin-left: 0px;
}

.region-sidebar-second .block li, .region-sidebar-first .block li, .block-style li, .list-style li {
  padding-left: 20px;
  list-style: none;
  list-style-image: none;
  list-style-type: none;
  background: url('/sites/all/themes/acquia_d7/images/bullet-square.png') no-repeat 0px 5px;
}


/* Header Section
----------------------------------------------------------------------------- */

.header-group-wrapper {
  border-bottom: 1px solid #73AED8;
  background: url(../images/menu-fade.gif) repeat-x bottom;
  height: 110px;
}

#header-site-info {
  width: 320px;
  height: 60px;
  margin-top: 22px;
  margin-bottom: 0px;
}

.header-group-inner h2 {
  display: none;
}

/* Header Search
----------------------------------------------------------------------------- */

.header-group-inner .block-search {
  background: url("../images/search-form-top.jpg") no-repeat scroll 0 0 transparent;
  display: block;
  float: right;
  height: 34px;
  margin-top: -76px;
  margin-bottom: 10px;
  padding: 10px 5px 10px;
  width: 229px;
}

.header-group-inner .block-search .form-text {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  color: #606060;
  display: block;
  float: left;
  margin: 6px 0;
  padding: 2px;
  width: 145px;
}

.header-group-inner .block-search .form-submit {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  cursor: pointer;
  display: block;
  float: right;
  height: 0;
  margin: 0;
  overflow: hidden;
  padding: 30px 0 0;
  width: 32px;
}

/* Header Links
----------------------------------------------------------------------------- */

.header-group-inner #block-menu-menu-header-links {
  margin: 10px 0 0 0;
  float: right;
  width: 300px;
}

.header-group-inner #block-menu-menu-header-links ul {
  margin: 0px;
  float: right;
}

.header-group-inner #block-menu-menu-header-links ul li {
  list-style: none;
  list-style-position: outside;
  display: block;
  float: left;
  margin-right: 10px;
  margin-top: 8px;
}

.header-group-inner #block-menu-menu-header-links a:hover {
  text-decoration: underline;
}

.header-group-inner #block-menu-menu-header-links a span {
  color: #666;
  font-weight: 600;
}


/* Main Menu
----------------------------------------------------------------------------- */

/*
 * This menu sits directly below the logo which has a height of 60, and margin-top of 22px.
 * The logo is specifically placed within the center of the header region.
 * If the logo size changes, then the margin-top of the .main-menu-wrapper needs adjustment
 */

.main-menu-wrapper {
  float: right;
  height: 45px;
  margin-top: -16px;
}

.region-main-menu .block-menu {
  float: right;
  margin-bottom: 0px;
}

.region-main-menu h2 {
  display: none;
}

.region-main-menu ul { 
  margin-bottom: 0px;
}

.region-main-menu ul li {
  float: right;
  display: block;
  font-size: 16px;
  font-weight: 600;
  padding: 0px;
  margin-left: 10px;
}

.region-main-menu ul li a {
  padding: 0px;
  height: 45px;
  display: block;
}

.region-main-menu ul li a span {
  display: block;
  color: #57B0E0;
  height: 35px;
  padding: 10px 18px 0;
}

.region-main-menu ul li a.active, .region-main-menu ul li a:hover {
  background: url(../images/menu-l.png) no-repeat scroll 0 0 transparent;
}

.region-main-menu ul li a.active span, .region-main-menu ul li a:hover span {
  background: url(../images/menu-r.png) no-repeat scroll 100% 0 transparent;
}

/* User Menu
 ---------------------------------------------------------------------------- */

/*
 * This menu sits direclty blow the logo. If the logo height changes, then the
 * #block-system-user-menu negative top margin needs to change.
 */

#block-system-user-menu {
  float: right;
  margin-right: 250px;
  margin-top: -82px;
}

#block-system-user-menu ul {
  margin-bottom: 0px;
  margin-top: 10px;
}

#block-system-user-menu ul li {
  float: right;
  margin-left: 10px;
  list-style: none;
}

#block-system-user-menu ul li a {
  color: #333;
  text-decoration: underline;
}

#block-system-user-menu ul li a:hover {
  color: #999;
}



/* Main Wrapper
----------------------------------------------------------------------------- */
.main-wrapper {
  background: url(../images/bg-main-wrapper.png) repeat-x;
  padding-top: 30px;
}

.content-group-inner p {
  font-size: 15px;
  line-height: 1.2em;
}

/* Content Tabs
----------------------------------------------------------------------------- */

.content-tabs ul.tabs {
  margin-left: 0px;
  padding-left: 10px;
  height: 27px;
}

.content-tabs ul.tabs li a {
  margin-right: 0px;
  margin-left: 10px;
  margin-left: 3px;
  color: #317EBE;
  padding: 5px 20px 5px 13px;
  text-decoration: none;
  border: none;
  border-style: none;
  border-width: 0;
  border-color: transparent;
  background: url(/sites/all/themes/acquia_d7/images/tabs/tab-right-passive.gif) no-repeat right top;
}

.content-tabs ul.tabs li {
  margin-bottom: -1px;
  height: 27px;
  line-height: 27px;
  padding: 5px 0;
  border: none;
  border-style: none;
  border-width: 0;
  border-color: transparent;
  background: url(/sites/all/themes/acquia_d7/images/tabs/tab-left-passive.gif) no-repeat left top;
}

.content-tabs ul.tabs li.active a {
  color: #323232;
  background: url(/sites/all/themes/acquia_d7/images/tabs/tab-right.png) no-repeat right top;
}

.content-tabs ul.tabs li.active {
  background: url(/sites/all/themes/acquia_d7/images/tabs/tab-left.gif) no-repeat left top;
}

/* Footer Region
----------------------------------------------------------------------------- */
.footer-wrapper {
  margin: 1px 0 0;
  width: 100%;
  background: #2c2c2c url(../images/footer_bkg-bot.png) repeat-x left bottom;
  clear: both;
}

.footer-wrapper-inner {
  background: transparent url(../images/footer_bkg-top.png) repeat-x left top;
  padding: 30px 0;
}

.acquia-info-block .inner {
  width: 220px;
  float: right;
}

.footer-wrapper .acquia-logo {
  background: url(../images/acquia-logo-footer.png) no-repeat;
  witch: 79px;
  height: 23px;
  text-indent: -9999px;
  margin: 15px 0 10px 0;
  padding: 0;
}

.footer-wrapper .phone {
  color: #E36F1E;
}
.follow-links {
  margin-top: 10px;
}

.footer-wrapper .follow-links a.follow-link-this-site {
  background-image:  url(../images/follow-feed-small.png);
}
.footer-wrapper .follow-links a.follow-link-facebook {
  background-image:  url(../images/follow-facebook-small.png);
}
.footer-wrapper .follow-links a.follow-link-twitter {
  background-image:  url(../images/follow-twitter-small.png);
}
.footer-wrapper .follow-links a.follow-link-linkedin {
  background-image:  url(../images/follow-linkedin-small.png);
}
.footer-wrapper .follow-links a {
  color: #317EBE;
  font-size: 12px;
  line-height: 18px;
  font-weight: bold;
}
.footer-wrapper .follow-links .follow-link {
  background-position: 3px 6px;
  background-repeat: no-repeat;
  padding-top: 5px;
  padding-bottom: 8px;
  padding-left: 26px;
  height: 16px;
  display: block;
}

/* Generic Elements
----------------------------------------------------------------------------- */
.rounded_button {
  -moz-border-radius: 5px 5px 5px 5px;
  -moz-box-shadow: 0 1px 3px #888888;
  -webkit-border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: 0 1px 3px #888888;
  background: -moz-linear-gradient(center top , #FFBB00 0%, #E6900E 50%, #DD7F14 100%) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(1, rgb(255,187,0)), color-stop(0.5, rgb(230,144,14)), color-stop(0, rgb(221,127,20))) repeat scroll 0 0 transparent;
  border: medium none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline;
  font-size: 14px;
  font-weight: 600;
  margin-right: 5px;
  padding: 5px 9px;
  position: static;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 2px 1px rgba(5, 5, 5, 0.4);
}

.rounded_button:hover {
  color: #FFFFFF;
  
}

.table-wrapper {
  border: 1px solid #CCC;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #FFF url('/sites/all/themes/acquia_d7/images/table-header-bg.jpg') repeat-x top;
  clear: both;
  padding: 5px;
}

.table-wrapper thead {
  height: 39px; /* 44px minus the padding at the top of the wrapper */
}

.table-wrapper thead th {
  border-bottom: none;
}

.table-wrapper thead th + th {
  padding-left: 10px;
}

.table-wrapper tbody tr {
  background: #FFF;
  border-bottom: 1px dotted #CCC;
}

.table-wrapper tbody td {
  height: 39px;
  color: #333;
}

.table-wrapper tbody td + td {
  border-left: 1px dotted #CCC;
  padding-left: 10px;
}
